<div class="container">
  <h1>Constructive conversation with coach</h1>
  <div>
    <form action="/questions/answer" class="">
      <label for="question" class="form-control">Your question:</label><input type="text" name="question" id="question" class="form-control">
      <input type="submit" class="form-control">
    </form>
  </div>
</div>
